@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'segoe ui';
    color: #803030;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.large {
    font-size: 1.25rem;
}

.txt-pink {
    color: #fc22c5;
}

.display-1 {
    font-size: 4rem;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
}

.btn-round {
    border-radius: 20px;
}

.btn-dark {
    background: #e9a075;
    border: 1px solid #e9a075;
    color: #fff;
}

.btn-dark:hover {
    background: #d19069;
    color: #fff;
}

form label {
    display: inline-block;
    margin-bottom: 6px;
}

form .form-group {
    margin-bottom: 16px;
}

form .form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Showcase */
#showcase {
    padding: 80px 0;
}

.showcase-row {
    display: flex;
    padding: 150px 0;
}

.showcase-row-title p.large {
    padding-bottom: 15px;
}

/* Portfolio */
#portfolio {
    padding: 80px 0;
    text-align: center;
}

#portfolio p {
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.portfolio-row {
    display: flex;
}

.portfolio-row img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

/* About */
#about {
    padding: 80px 0;
    text-align: center;
}

#about h3 {
    padding-bottom: 50px;
}

#about p {
    padding-bottom: 20px;
}

/* Contact */
#contact {
    padding: 80px 0;
}

#contact h2 {
    text-align: center;
}

#contact p {
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-row {
    display: flex;
    padding: 20px;
}

.contact-row-img {
    width: 50%;
}

.contact-row-img img {
    padding: 120px;
}

.contact-row-form {
    width: 50%;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 70px;
}

.contact-row-form h4 {
    padding-bottom: 40px;
    text-align: center;
}

.contact-row-form button {
    width: 100%;
}

/* Utility Classes */
.display-1 {
    font-size: 2.5rem;
}


.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.498), rgba(0, 0, 0, 0.479)), url(./img/baner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.hero h1 {
    font-family: "PT Mono", monospace;
    font-weight: 400px;
    font-size: 50px;
    line-height: 25px;
    border: 1px solid rgb(217, 172, 189);
    padding: 10px;
}

.hero p {
    margin: 12px;
    font-size: 30px;
}

.hero a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(81, 17, 76);
    padding: 10px;
}

.productos h3 {
    background-color: rgb(106, 16, 95);
    color: white;
    text-align: center;
    font-weight: 300px;
    font-size: 40px;
    line-height: 25px;
    border: 1px solid rgb(217, 172, 189);
    padding: 30px;
}


.productos>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}


.productos div div img {
    width: 100%;
    height: 300px;
}

.productos div div {
    border: 1px solid gray;
    width: 300px;
    height: 550px;
    text-align: center;
    background-color: rgb(123, 10, 102);
    color: white;
    margin: 20px;
    padding: 10px;
    box-shadow: 9px -11px 20px -11px rgba (0, 0, 0, 0.75);

}

.productos div div h4 {
    margin-bottom: 10px;
}

.productos div div a {
    text-decoration: none;
    color: rgba(0, 0, 0);
    background-color: white;
    font-weight: 900;
    padding: 5px;

}

.galeria {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
}


.galeria div img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    object-fit: cover;
    grid-auto-rows: 250px;
    gap: 15px;
    box-shadow: 9px 10px 21px -8px rgba (0, 0, 0, 0.75);


}

.grid-container {
    position: relative;

}

.grid-container img a {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.509);
    width: 100%;
    height: 100%;
    color: white;
}

/* Showcase */
#showcase {
    padding: 0;
    text-align: center;
}

.showcase-row {
    flex-wrap: wrap;
    padding: 20px 0;
}

.showcase-row-img img {
    width: 100%;
    padding-top: 40px;
}

/* Portfolio */
#portfolio {
    padding-top: 80px;
    padding-bottom: 40px;
}

#portfolio p {
    width: 100%;
}

/*nav*/
.nav {
    height: 50px;
    width: 100%;
    background-color: violet;
    position: relative;
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>ul li a {
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

}

.nav>.nav-links>ul {
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;

}

.nav>.nav-links>ul li {
    display: inline-block;
    background-color: violet;


}

.nav>.nav-links>ul li:hover {
    background-color: #af0b78;
    border-radius: 5px;
}


.nav .nav-links ul a.icon {
    margin-left: 40px;
    margin-right: 10px;
}

.nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>ul li a {
        display: block;
        width: 100%;
    }

    /*   */



    .nav>.nav-links>ul li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;

    }

    .nav>.nav-links>ul li a {
        margin-left: 40%;
    }

    .nav .nav-links ul a.icon {
        margin-left: 33%;
    }

    /*   */
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}